{% extends "base.html" %}

{% block title %}Your Notes{% endblock %}

{% block content %}
<h1 class="text-center">Your Notes</h1>
<div class="text-center mb-4">
    <a href="{{ url_for('add_note') }}" class="btn btn-success">Add New Note</a>
</div>

<div class="row">
    {% for note in notes %}
    <div class="col-md-4">
        <div class="card mb-4 bg-light text-dark">
            {% if note['files'] %}
                <img src="{{ url_for('static', filename=note['files'].split(',')[0].split('static/')[1]) }}" class="card-img-top" alt="Note Image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ note['title'] }}</h5>
                <p class="card-text">{{ note['content']|truncate(100) }}</p>
                <a href="{{ url_for('view_note', note_id=note['id']) }}" class="btn btn-primary">View</a>
                <a href="{{ url_for('update_note', note_id=note['id']) }}" class="btn btn-secondary">Edit</a>
                <form action="{{ url_for('delete_note', note_id=note['id']) }}" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
